.div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #d2d5fc;
}

/*---------------------- ESTILO HEADER ---------------------- */


.header {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: #889ed6;
  color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  z-index: 1000;
  @media screen and (min-width: 1024px) {
    padding: 16px;
    padding-left: 20px;
  }
}

.fotonombre{
  display: flex;
}

.imgheader {
  display: flex;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  @media screen and (min-width: 1024px) {
    width: 180px;
    height: 180px;
  }
}

.divheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  @media screen and (min-width: 1024px) {
    width: 250px;
  }
}

.h1header {
  font-size: 28px;
  font-weight: 800;
  color: #0c184e;
  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
}

.h2header {
  font-size: 18px;
  font-weight: 600;
  color: #0c184e;
  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }
}

.divnav {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-right: 10px;
  @media screen and (min-width: 1024px) {
    margin-right: 20px;
    gap: 40px;
  }
}

.anav {
  font-size: 20px;
  font-weight: 700;
  color: #0c184e;
  text-decoration: none;
  @media screen and (min-width: 1024px) {
    font-size: 24px;

  }
}

.anav:hover {
  color: #35489e;
  text-decoration: underline;
  scale: 1.1;
  cursor: pointer;
}

.divMenuVisible{
  background-color: #768fcf;
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 4px;
  gap: 20px;
}

.anavMenuVisible{
  font-size: 18px; 
  text-decoration: none;
  color: #0c184e;
  font-weight: 700;
}

.main{
  height: 100%;
  margin-top: 166px;
  @media screen and (min-width: 768px) {
    margin-top: 212px;
  }
}

/*---------------------- ESTILO SOBRE MI ---------------------- */

.sobremi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-weight: 600;
  width: 100%;
  min-height: 80vh;
  @media screen and (min-width: 768px) {
    flex-direction: row;
}
}

.h1sobremi{
  color: #0c184e;
  font-size: 50px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 90px;
    width: 300px;
    text-align: start;
  }
}

.divpsobremi{
  display: flex;
  flex-direction: column;
  width: 80%;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 70%;
  }
}

.psobremi{
  color: #0c184e;
  font-size: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 28px;
  }
}

.divexperiencia{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto ;
  gap: 15px;
  width: 1/2;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    justify-content: start;
  }
  @media screen and (min-width: 1024px) {
    gap: 20;
    width: 75%;
    margin: 0;
    justify-content: start;
  }
}

.animacionLogo{
  width: 25%;
  height: 70px;
  margin-bottom: 10px; 
  @media screen and (min-width: 1024px){
    width: 90px;
  }

}

.experiencialogo{
  width: 100%;
  height: 100%;
}

/*---------------------- ESTILO INTERESES ---------------------- */

.intereses{
  width: 100%;
  min-height: 80vh;
  display: flex;
  background-color: #c2c6f7;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}


.interesesh1{
  color: #0c184e;
  font-size: 40px;
  text-align: center;
  margin: 50px 0px;
  @media screen and (min-width: 768px) {
    font-size: 70px;
  }
}

.divintereses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.interesesp{
  color: white;
  background-color: #1e2957;
  font-size: 21px;
  padding: 10px;
  font-weight: 600;
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1097px) {
    font-size: 22px;
  }
}

.animacionIntereses{
  display: "flex"; 
  justify-content: "center";
  width: 75%;
  margin: 0 auto 15px auto;
  @media screen and (min-width: 768px) and (max-width: 1097px) {
    width: 40%;
  }
  @media screen and (min-width: 1097px) {
    width: 27%;
    margin: "0 10px 15px 10px";
  }

}

/*---------------------- ESTILO CONTACTAME ---------------------- */

.divcontactame{
  height: 100%;
  background-color: #d2d5fc;
}

.h1contactame{
  font-size: 50px;
  color: #0c184e;
  text-align: center;
  padding-top: 20px;
}

.formcontactame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #c2c6f7;
  width: 90%;
  border-radius: 0.5rem;
  border: #0c184e 2px solid;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 60%;
  }
  @media screen and (min-width: 1024px) {
    width: 30%;
  }
}

.inputcontactame{
  width: 90%;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  border-radius: 0.5rem;
  background-color: #c2c6f7;
  border: #0c184e 2px solid;
  padding-left: 10px;
}

.labelcontactame{
  color: #0c184e;
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: 500;
}

.textareacontactame {
  width: 90%;
  height: 200px;
  margin: 10px;
  font-size: 20px;
  border-radius: 0.5rem;
  background-color: #c2c6f7;
  border: #0c184e 2px solid;
  padding: 10px;
  overflow-y: auto;
  text-justify:initial
}

.inputcontactame:focus,
.textareacontactame:focus {
  outline: none;
  border: #35489e 2px solid;
  background-color: #a8b5eb;
}

.buttoncontactame{
  width: 40%;
  height: 40px;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  border-radius: 0.5rem;
  background-color: #0c184e;
  border: #0c184e 2px solid;
  color: white;
  font-weight: 600;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buttoncontactame:hover{
  background-color: #35489e;
  cursor: pointer;
  scale: 1.1;
}

.legendform {
  color: red;
  font-size: 17px;
  text-align: left;
  font-style: italic;
  width: 90%;
  margin-left: 10px;
  padding-left: 15px;
  font-weight: 500;
}

.h1redes{
  color: #0c184e;
  font-size: 24px;
  text-align: center;
  margin: 20px 0px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.divredes{
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 50%;
  margin: auto auto 20px auto;
}

.redes:hover{
  scale: 1.1;
  cursor: pointer;
}